*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-28-pythonquiztime.md
_posts/2022-08-21-padelpy.md
_posts/2022-08-28-bashfiles.md
_posts/2022-08-28-worldhistory.md
_posts/2020-02-20-test.md
_posts/2022-09-01-AP-Biology-2022-2023-Calendar.md
_posts/2022-08-30-BLOG.md
images/copied_from_nb/my_icons/fastai_logo.png
