html, body {   
    background-image: url('https://yuricoder07.github.io/myfiles/images/amoungusstars.png');
    background-repeat: repeat;
    background-attachment: no-fixed;
    background-size: cover;
    background-color: #cccccc;
}