html, body {   
    background-image: url('https://yuricoder07.github.io/myfiles/images/drake.jpg');
    background-repeat: no-repeat;
    background-attachment: no-fixed;
    background-size: cover;
    background-color: #cccccc;
}